@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poetsen+One&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02:"Poetsen One", sans-serif;
    --font03: "Lilita One", sans-serif;       
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: #808080;
    min-height: 100vh;
    font-family: var(--font01);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    
    font-family: var(--font03);
    font-size: 45px;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font02);
    font-size: 3.5vw;
}

section.normal {
    color: black;
    background-color: white;
   
}

section.imagem { 
    background-color: rgb(59, 59, 59);
    color: white;
}
section.imagem > p {    
    font-display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    width: 400px;

}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}